@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #d63cc6 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #d63cc6 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #d63cc6;
  border-color: #d63cc6;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a32296;
  border-color: #a32296;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a32296 !important;
  border-color: #a32296 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #d63cc6;
  border-color: #d63cc6;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #a32296;
  border-color: #a32296;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a32296 !important;
  border-color: #a32296 !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e1e82;
  color: #8e1e82;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #d63cc6;
  border-color: #d63cc6;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #d63cc6 !important;
  border-color: #d63cc6 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #8e1e82;
  color: #8e1e82;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #d63cc6;
  border-color: #d63cc6;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63cc6 !important;
  border-color: #d63cc6 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #d63cc6 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #d63cc6 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #d63cc6;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #d63cc6;
}
.btn-social:hover {
  background: #d63cc6;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #d63cc6;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #d63cc6;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #d63cc6;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #d63cc6;
}
.lead a,
.lead a:hover {
  color: #d63cc6;
}
.lead blockquote {
  border-color: #d63cc6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f9e5f7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f9e5f7;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #d63cc6;
}
#footer1-3 P {
  color: #ffffff;
}
#ext_menu-7 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7 .navbar-caption {
  color: #ffffff;
}
#ext_menu-7 .navbar-toggler {
  color: #000000;
}
#ext_menu-7 .close-icon::before,
#ext_menu-7 .close-icon::after {
  background-color: #000000;
}
#ext_menu-7 .link,
#ext_menu-7 .dropdown-item {
  color: #000000;
}
#ext_menu-7 .link {
  font-size: 0.75rem;
}
#ext_menu-7 .dropdown-item,
#ext_menu-7 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-7 .link:hover,
#ext_menu-7 .dropdown-item:hover,
#ext_menu-7 .link:focus,
#ext_menu-7 .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-7 .nav-dropdown-sm .link:focus,
#ext_menu-7 .nav-dropdown-sm .link:hover,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-7 .navbar,
#ext_menu-7 .nav-dropdown-sm,
#ext_menu-7 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-7 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-7 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7 .bg-color.transparent.opened .link:hover,
#ext_menu-7 .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-7 .link[aria-expanded="true"],
#ext_menu-7 .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#header3-8 .mbr-section-title,
#header3-8 .mbr-section-subtitle {
  text-align: center;
}
#gallery3-9 LI {
  color: #000000;
}
#msg-box8-a .mbr-section-title,
#msg-box8-a p {
  color: #fff;
}
#header3-c .mbr-section-title,
#header3-c .mbr-section-subtitle {
  text-align: center;
}
#header2-h .mbr-section-text {
  text-align: left;
  color: #000000;
}
#header2-h .mbr-section-title {
  text-align: left;
  color: #000000;
}
#social-buttons3-25 .mbr-section-title,
#social-buttons3-25 .btn-social {
  color: #fff;
}
#header3-t .mbr-section-title,
#header3-t .mbr-section-subtitle {
  text-align: center;
}
#footer1-p P {
  color: #ffffff;
}
#ext_menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-q .navbar-caption {
  color: #ffffff;
}
#ext_menu-q .navbar-toggler {
  color: #000000;
}
#ext_menu-q .close-icon::before,
#ext_menu-q .close-icon::after {
  background-color: #000000;
}
#ext_menu-q .link,
#ext_menu-q .dropdown-item {
  color: #000000;
}
#ext_menu-q .link {
  font-size: 0.75rem;
}
#ext_menu-q .dropdown-item,
#ext_menu-q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-q .link:hover,
#ext_menu-q .dropdown-item:hover,
#ext_menu-q .link:focus,
#ext_menu-q .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-q .link[aria-expanded="true"],
#ext_menu-q .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-q .nav-dropdown-sm .link:focus,
#ext_menu-q .nav-dropdown-sm .link:hover,
#ext_menu-q .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-q .navbar,
#ext_menu-q .nav-dropdown-sm,
#ext_menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-q .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-q .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-q .bg-color.transparent.opened .link:hover,
#ext_menu-q .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-q .link[aria-expanded="true"],
#ext_menu-q .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#pricing-table2-x .mbr-plan-header,
#pricing-table2-x .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-x ul,
#pricing-table2-x .mbr-plan-title,
#pricing-table2-x .mbr-price-value,
#pricing-table2-x .mbr-price-figure,
#pricing-table2-x .mbr-price-term {
  color: #28262b;
}
#pricing-table2-x .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-x .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-x UL {
  font-size: 12px;
}
#pricing-table2-y .mbr-plan-header,
#pricing-table2-y .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-y ul,
#pricing-table2-y .mbr-plan-title,
#pricing-table2-y .mbr-price-value,
#pricing-table2-y .mbr-price-figure,
#pricing-table2-y .mbr-price-term {
  color: #28262b;
}
#pricing-table2-y .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-y .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-y UL {
  font-size: 12px;
}
#header3-12 .mbr-section-title,
#header3-12 .mbr-section-subtitle {
  text-align: center;
}
#footer1-14 P {
  color: #ffffff;
}
#ext_menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-15 .navbar-caption {
  color: #ffffff;
}
#ext_menu-15 .navbar-toggler {
  color: #000000;
}
#ext_menu-15 .close-icon::before,
#ext_menu-15 .close-icon::after {
  background-color: #000000;
}
#ext_menu-15 .link,
#ext_menu-15 .dropdown-item {
  color: #000000;
}
#ext_menu-15 .link {
  font-size: 0.75rem;
}
#ext_menu-15 .dropdown-item,
#ext_menu-15 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-15 .link:hover,
#ext_menu-15 .dropdown-item:hover,
#ext_menu-15 .link:focus,
#ext_menu-15 .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-15 .nav-dropdown-sm .link:focus,
#ext_menu-15 .nav-dropdown-sm .link:hover,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-15 .navbar,
#ext_menu-15 .nav-dropdown-sm,
#ext_menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-15 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-15 .bg-color.transparent.opened .link:hover,
#ext_menu-15 .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-15 .link[aria-expanded="true"],
#ext_menu-15 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#pricing-table2-16 .mbr-plan-header,
#pricing-table2-16 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-16 ul,
#pricing-table2-16 .mbr-plan-title,
#pricing-table2-16 .mbr-price-value,
#pricing-table2-16 .mbr-price-figure,
#pricing-table2-16 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-16 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-16 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-16 UL {
  font-size: 12px;
}
#pricing-table2-17 .mbr-plan-header,
#pricing-table2-17 .mbr-plan-body {
  background-color: #f4f4f4;
}
#pricing-table2-17 ul,
#pricing-table2-17 .mbr-plan-title,
#pricing-table2-17 .mbr-price-value,
#pricing-table2-17 .mbr-price-figure,
#pricing-table2-17 .mbr-price-term {
  color: #28262b;
}
#pricing-table2-17 .mbr-plan {
  border-color: #e8e8e8;
}
#pricing-table2-17 .mbr-plan .list-group-item {
  border-color: #cfcfcf;
}
#pricing-table2-17 UL {
  font-size: 12px;
}
#footer1-i P {
  color: #ffffff;
}
#ext_menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-j .navbar-caption {
  color: #ffffff;
}
#ext_menu-j .navbar-toggler {
  color: #000000;
}
#ext_menu-j .close-icon::before,
#ext_menu-j .close-icon::after {
  background-color: #000000;
}
#ext_menu-j .link,
#ext_menu-j .dropdown-item {
  color: #000000;
}
#ext_menu-j .link {
  font-size: 0.75rem;
}
#ext_menu-j .dropdown-item,
#ext_menu-j .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-j .link:hover,
#ext_menu-j .dropdown-item:hover,
#ext_menu-j .link:focus,
#ext_menu-j .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-j .nav-dropdown-sm .link:focus,
#ext_menu-j .nav-dropdown-sm .link:hover,
#ext_menu-j .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-j .navbar,
#ext_menu-j .nav-dropdown-sm,
#ext_menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-j .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-j .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-j .bg-color.transparent.opened .link:hover,
#ext_menu-j .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-j .link[aria-expanded="true"],
#ext_menu-j .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#form1-1d .form-control-label {
  color: #232323;
}
#footer1-10 P {
  color: #ffffff;
}
#social-buttons3-28 .mbr-section-title,
#social-buttons3-28 .btn-social {
  color: #fff;
}
#ext_menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-11 .navbar-caption {
  color: #ffffff;
}
#ext_menu-11 .navbar-toggler {
  color: #000000;
}
#ext_menu-11 .close-icon::before,
#ext_menu-11 .close-icon::after {
  background-color: #000000;
}
#ext_menu-11 .link,
#ext_menu-11 .dropdown-item {
  color: #000000;
}
#ext_menu-11 .link {
  font-size: 0.75rem;
}
#ext_menu-11 .dropdown-item,
#ext_menu-11 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-11 .link:hover,
#ext_menu-11 .dropdown-item:hover,
#ext_menu-11 .link:focus,
#ext_menu-11 .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-11 .nav-dropdown-sm .link:focus,
#ext_menu-11 .nav-dropdown-sm .link:hover,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-11 .navbar,
#ext_menu-11 .nav-dropdown-sm,
#ext_menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-11 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-11 .bg-color.transparent.opened .link:hover,
#ext_menu-11 .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-11 .link[aria-expanded="true"],
#ext_menu-11 .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#msg-box5-1b P {
  text-align: left;
}
#msg-box5-1b H3 {
  text-align: left;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#features1-1o .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-1o .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
  color: #000000;
}
#features1-1o .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#form1-1w .form-control-label {
  color: #232323;
}
#header3-1r .mbr-section-title,
#header3-1r .mbr-section-subtitle {
  text-align: center;
}
#footer1-1g P {
  color: #ffffff;
}
#social-buttons3-29 .mbr-section-title,
#social-buttons3-29 .btn-social {
  color: #fff;
}
#ext_menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1h .navbar-caption {
  color: #ffffff;
}
#ext_menu-1h .navbar-toggler {
  color: #000000;
}
#ext_menu-1h .close-icon::before,
#ext_menu-1h .close-icon::after {
  background-color: #000000;
}
#ext_menu-1h .link,
#ext_menu-1h .dropdown-item {
  color: #000000;
}
#ext_menu-1h .link {
  font-size: 0.75rem;
}
#ext_menu-1h .dropdown-item,
#ext_menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1h .link:hover,
#ext_menu-1h .dropdown-item:hover,
#ext_menu-1h .link:focus,
#ext_menu-1h .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1h .nav-dropdown-sm .link:focus,
#ext_menu-1h .nav-dropdown-sm .link:hover,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1h .navbar,
#ext_menu-1h .nav-dropdown-sm,
#ext_menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1h .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1h .bg-color.transparent.opened .link:hover,
#ext_menu-1h .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#msg-box5-1k P {
  text-align: left;
}
#msg-box5-1k H3 {
  text-align: left;
}
#ext_menu-1y .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1y .navbar-caption {
  color: #ffffff;
}
#ext_menu-1y .navbar-toggler {
  color: #000000;
}
#ext_menu-1y .close-icon::before,
#ext_menu-1y .close-icon::after {
  background-color: #000000;
}
#ext_menu-1y .link,
#ext_menu-1y .dropdown-item {
  color: #000000;
}
#ext_menu-1y .link {
  font-size: 0.75rem;
}
#ext_menu-1y .dropdown-item,
#ext_menu-1y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1y .link:hover,
#ext_menu-1y .dropdown-item:hover,
#ext_menu-1y .link:focus,
#ext_menu-1y .dropdown-item:focus {
  color: #d63cc6;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-menu {
  background: #e6e6e6;
}
#ext_menu-1y .nav-dropdown-sm .link:focus,
#ext_menu-1y .nav-dropdown-sm .link:hover,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1y .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#ext_menu-1y .navbar,
#ext_menu-1y .nav-dropdown-sm,
#ext_menu-1y .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1y .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#ext_menu-1y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#ext_menu-1y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1y .bg-color.transparent.opened .link:hover,
#ext_menu-1y .bg-color.transparent.opened .link:focus {
  color: #d63cc6;
}
#ext_menu-1y .link[aria-expanded="true"],
#ext_menu-1y .dropdown-item[aria-expanded="true"] {
  color: #d63cc6!important;
}
#header3-21 .mbr-section-title,
#header3-21 .mbr-section-subtitle {
  text-align: center;
}
#social-buttons3-27 .mbr-section-title,
#social-buttons3-27 .btn-social {
  color: #fff;
}
