.square-image {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
}
.square-image:before {
    content: '';
    padding-top: 100%;
    display: block;
    pointer-events: none;
}