.masters {

}

.masters-item {
	margin-bottom: 1em;
}

.masters-description-text {
	max-height: 0;
	overflow: hidden;
	transition: max-height .3s;
}

.masters-item:hover .masters-description-text {
	max-height: 100px;
}